  
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  
  body {
    background-color: #f8f9fa;
   
  }

  :root{
    --principal-color:#fcc83e;
  }
  

  .header {
    background-color: #f06292;
    color: #fff;
    font-family: 'Noto Serif', serif;
    padding: 50px;
    
    text-align: center;
    
  }

  .bg{
    background-color: var(--principal-color);
  }



  .footer {
    background-color: #f06292;
    color: #fff;
    padding: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  /* Estilização dos botões de redirecionamento para WhatsApp */
  .btn-whatsapp {
    background-color: #e91e63;
    border-color: #e91e63;
    color: #fff;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .btn-whatsapp:hover {
    background-color: #c2185b;
    border-color: #c2185b;
  }

  .btn-whatsapp:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 30, 99, 0.5);
  }

  .h-100{
    height: 100vh;
  }

  .img{
    width: 600px;
  }
   

 .butons{
  text-align: center;
  position: absolute;
  top: 750px;
  justify-content: center;

}


.btn-fluidi{
  display: flex;
  justify-content: center;
  align-items: center;
}




span{
  
  align-items: center;
  margin-right: 5px;
 
}

 @media (max-width: 370px){
  .btn-whatsapp{
    width: 155px;
   
  }




}
