body {
    background-color: #f8f9fa;
  
  }

  .header {
    background-color: #f06292;
    color: #fff;
    padding: 50px;
    
    text-align: center;
    
  }

 

  .content {
    padding: 30px;
    text-align: center;
  }

  .footer {
    background-color: #f06292;
    color: #fff;
    padding: 50px;
    
    text-align: center;
  }

  /* Estilização dos botões de redirecionamento para WhatsApp */
  .btn-whatsapp {
    background-color: #e91e63;
    border-color: #e91e63;
    color: #fff;
    width: 300px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .btn-whatsapp:hover {
    background-color: #c2185b;
    border-color: #c2185b;
  }

  .btn-whatsapp:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 30, 99, 0.5);
  }

  /* Estilização das informações da empresa */
  .company-info {
    font-size: 16px;
    line-height: 1.6;
  }

  .company-info strong {
    font-weight: bold;
  }

  
.container{
     height: 100vh;
     display: flex;
    
     background-color: #f4d030;
     align-items: center;
     justify-content: center;
     
     flex-direction: column;
    


}
img{
  
  
  width: 720px;
  
}

.img{
  margin: 50px;
  height: 100vh;
  background-color: #f4d030;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .butons{
  text-align: center;
  position: absolute;
  top: 750px;
  justify-content: center;

}


.btn-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
}




span{
  
  align-items: center;
  margin-right: 5px;
 
}

@media (max-width: 400px){
  .container{
    height: 78vh;
  }

  .butons{
    box-sizing: content-box;
    flex-direction: column;
    width: 190px;
    margin-left: 0px;
    top: 490px;
  }
  
  .btn-whatsapp{
    width: 190px;
    margin-left: 2px;
    padding: 5px 10px;
    height: 70px;
  }
  .img{
    margin-top: -90px;
    height: 40vh;
    
  }
  img{
    margin-bottom: 80px;
  }
 

}
